solana-programs-example

# frontend
# dependencies
frontend/*/node_modules
# next.js
frontend/**/.next/
frontend/*/out/

# production
frontend/**/build

# debug
frontend/*/npm-debug.log*
frontend/*/yarn-debug.log*
frontend/*/yarn-error.log*
frontend/*/.pnpm-debug.log*
